@import "../../assets/sass/variable"
@import "../../assets/sass/mixin"

.day
  overflow: hidden
  position: relative
  text-align: left
  padding: 30px 0 0 20px
  font-size: 12px
  +calc('flex-basis', '100%/7')
  background-color: #fafafa
  border-left: 1px solid $borderColor
  border-bottom: 1px solid $borderColor
  height: 120px
  cursor: pointer
  &:hover
    background-color: #efefef

.day:last-child, .day:nth-child(7n)
  border-right: 1px solid #eee

.day_prev
  color: #cfcfcf
  background-color: rgb(251, 250, 230)
  &:hover
    background-color: rgb(235, 226, 209)
  .day__num
    color: #cfcfcf
  .day__event
    opacity: 0.6


.day__num
  position: absolute
  left: 5px
  top: 5px
  font-weight: 600

.day_current
  .day__num
    background-color: $darkBlue
    padding: 2px 5px
    +border-radius(50%)
    color: $white

.day__event
  white-space: nowrap
  cursor: pointer
  padding: 3px
  color: $white
  background-color: $purple
  border-radius: 3px
  margin-bottom: 5px
  opacity: 0.9
  transition: 0.3s opacity
  &:hover
    opacity: 1

.day__event:nth-child(3n)
  background-color: #0d7fb1

@media (max-width: 767px)
  .day
    padding-left: 5px