@import "../../assets/sass/variable"
@import "../../assets/sass/mixin"

.calendar__day:last-child, .calendar__day:nth-child(7n)
  border-right: 1px solid #eee

.calendar__day_prev
  color: #cfcfcf
  background-color: rgb(251, 250, 230)
  &:hover
    background-color: rgb(235, 226, 209)
  .calendar__day-num
    color: #cfcfcf
  .calendar__day-event
    opacity: 0.6


.calendar__day-num
  position: absolute
  left: 5px
  top: 5px
  font-weight: 600

.calendar__day_current
  .calendar__day-num
    background-color: $purple
    padding: 2px 4px
    +border-radius(50%)
    color: $white

.calendar__day-event
  white-space: nowrap
  cursor: pointer
  padding: 3px
  color: #fff
  background-color: $purple
  border-radius: 3px
  margin-bottom: 5px
  opacity: 0.9
  transition: 0.3s opacity
  &:hover
    opacity: 1

.calendar__day-event:nth-child(3n)
  background-color: #0d7fb1

@media (max-width: 767px)
  .calendar__day
    padding-left: 5px