@import "../../assets/sass/variable"
@import "../../assets/sass/mixin"
.calendar
  font-size: 16px

.calendar__month
  +calc('max-height', '100vh - 90px')
  display: flex
  align-items: flex-start
  align-content: flex-start
  justify-content: flex-start
  flex-wrap: wrap

.calendar__header
  display: flex
  justify-content: space-between
  align-items: stretch
  background-color: $white
  padding: 10px

.calendar__control
  display: flex
  justify-content: flex-start
  align-items: center

.calendar__control-btn
  padding: 0.6rem 0.3rem
  line-height: 1px

.calendar__month-name
  min-width: 150px
  display: block
  font-size: $eighteen-px
  &:first-letter
    text-transform: uppercase

.calendar__btn-now
  margin: 0 15px

.calendar__day-header
  text-align: center
  border-top: 1px solid #eee
  border-left: 1px solid $borderColor
  border-bottom: 1px solid $borderColor
  flex-basis: 14.28%
  align-items: flex-end
  font-size: 24px
  height: auto
  padding: 10px
  background-color: #4489fe
  color: #fff
  &:hover
    background-color: #3f74e4

.calendar__day-header:nth-child(7)
  border-right: 1px solid #eee



